.nav-flex {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: black;
  font-family: "Anton";

}

.navbar-logo {
margin-right: auto;
font-family: "Anton";
}
.navbar-logo{
 margin-top: 3px;
 left: 50px;
 width: 40px;
 float: right;
 font-family: "Anton";
}

.img-flex{
 flex: 1;
 font-family: "Anton";
}
.navbar-right{
 margin-top: 30px;
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content: space-around;
 font-family: "Anton";

}
.btn2 button {
  margin-top: 30px;
    background-color: black;
     border: 2px solid white;
    color: white;
    padding: 30px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    font-family: "Anton";
}
.button1:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-family: "Anton";
}
.button2:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-family: "Anton";
}
.button3:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-family: "Anton";
}
