
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <footer>
      <ul>
        <div class="flex-tabs">
          <div class="tabs-content">
            <div class="tabs">
            		<div class="tab">
                  <div class="btn">
            			<button class="button3" name="button">
                  <a href="https://www.youtube.com/watch?v=m2hI1_UBN2c">
                    <input name="checkbox-tabs-group" type="radio" id="checkbox1" class="checkboxtab" checked></input>
            			<label for="checkbox1">Tab 1</label></a></button>
            			<div class="content">
            				Clik!
            			</div>
            		</div>

                
              </div>
            </div>
          </div>
        </div>
      </ul>

    </footer>
  </body>
</html>
