<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
   <ul class="nav-flex">
     <div class="navbar-logo">
       <img src="/assets/logo.png" width="100px;"/>
     </div>

     <div class="navbar-right">

         <div class="avatar"><img src="/assets/reas-avatar.jpg"width="80px;">

           </div>
        </div>


       <div class="btn">
         <button class="button1" name="button">Sign up</button>
         <button class="button2" name="button">Sign in</button>
         <button class="button3" name="button">About</button>
       </div>




   </ul>
 </nav>

  </body>
</html>
